Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

autoflake:
  name: autoflake
  entry: autoflake
  description: remove unused imports and unused variables
  language: python
  args:
  - --in-place
  - --ignore-init-module-imports
  - --remove-all-unused-imports
  - --recursive

isort:
  name: isort
  entry: isort
  description: sort imports
  language: python
  args:
  - --filter-files
  - --remove-redundant-aliases

black:
  name: black
  entry: black
  description: format Python code
  language: python

black-jupyter:
  name: black-jupyter
  entry: black
  description: format Python code in notebooks
  language: python

flake8:
  name: flake8
  entry: flake8
  description: tool for style guide enforcement
  language: python

check-json:
  name: check-json
  entry: check-json
  description: verify JSON syntax
  language: python

check-toml:
  name: check-toml
  entry: check-toml
  description: verify TOML syntax
  language: python

check-yaml:
  name: check-yaml
  entry: check-yaml
  description: verify YAML syntax
  language: python

requirements-txt-fixer:
  name: requirements-txt-fixer
  entry: requirements-txt-fixer
  description: sorts entries in requirements.txt
  language: python

feat: add scipykit (#114)
  docs/source/conf.py
  docs/source/vizkit.ipynb
  src/onekit/numpykit.py
  src/onekit/pythonkit.py
  src/onekit/scipykit.py
  src/onekit/vizkit.py
  tests/test_numpykit.py
  tests/test_pythonkit.py
  tests/test_scipykit.py
  tests/test_vizkit.py
Due: autoflake, isort, black, black-jupyter, flake8

fix(release.yml): ensure poetry is on path
  .github/workflows/release.yml
Due: check-yaml

fix(release.yml): add path to psr
  .github/workflows/release.yml
Due: check-yaml

docs(DEVELOPERS.md): add conventional commits link
  DEVELOPERS.md
Due: none

style: use lowercase
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: check-yaml

fix(release.yml): add debug poetry path
  .github/workflows/release.yml
Due: check-yaml

build(test.yml): do not run on push
  .github/workflows/test.yml
Due: check-yaml

build: downgrade python-semantic-release to 8.7.0
  poetry.lock
  pyproject.toml
Due: check-toml

fix(release.yml): add poetry build
  .github/workflows/release.yml
Due: check-yaml

fix(release.yml): downgrade psr version
  .github/workflows/release.yml
Due: check-yaml

fix(release.yml): restore version before psr upgrade
  .github/workflows/release.yml
Due: check-yaml

fix: downgrade psr to 8.3.0
  poetry.lock
  pyproject.toml
Due: check-toml

3.1.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

docs(DEVELOPERS.md): update poetry install command
  DEVELOPERS.md
Due: none

refactor(playbook.py); add config
  playbook.py
Due: autoflake, isort, black, flake8

refactor(playbook.py); add config (#115)
  DEVELOPERS.md
  playbook.py
Due: autoflake, isort, black, flake8

docs: update logo
  docs/source/_static/onekitlogo.png
  docs/source/_static/onekitlogosmall.png
Due: none

FIXME
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

refactor(devcontainer.json): rename coder -> developer
  .devcontainer/devcontainer.json
Due: check-json

refactor(DEVELOPERS.md): add macOS command
  DEVELOPERS.md
Due: none

refactor: maintain Dockerfile
  .devcontainer/Dockerfile
Due: none

test(timestamp): add timezone
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

revert: refactor Dockerfile
  .devcontainer/Dockerfile
Due: none

revert: 28d21df
  .devcontainer/devcontainer.json
Due: check-json

build: pin image with digest
  .devcontainer/Dockerfile
Due: none

test: fix timestamp default call
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

test: fix timestamp default call (#116)
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

refactor: test_onekit.py -> test_project.py
  tests/test_onekit.py
  tests/test_project.py
Due: autoflake, isort, black, flake8

refactor: playbook.py
  playbook.py
Due: autoflake, isort, black, flake8

refactor(playbook.py): single remove flag
  playbook.py
Due: autoflake, isort, black, flake8

refactor(playbook.py): move clear cache to bottom
  playbook.py
Due: autoflake, isort, black, flake8

refactor(playbook.py): single create flag
  playbook.py
Due: autoflake, isort, black, flake8

refactor(playbook.py): reorder
  playbook.py
Due: autoflake, isort, black, flake8

docs: update dev guide
  DEVELOPERS.md
Due: none

refactor: playbook (#117)
  DEVELOPERS.md
  playbook.py
  tests/test_onekit.py
  tests/test_project.py
Due: autoflake, isort, black, flake8

build: remove docker
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/postcreate.sh
Due: check-json

docs(DEVELOPERS.md): remove docker
  DEVELOPERS.md
Due: none

build: remove docker (#118)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/postcreate.sh
  DEVELOPERS.md
Due: check-json

docs: rename DEVELOPERS.md -> DEVGUIDE.md
  DEVGUIDE.md
Due: none

docs: rename DEVELOPERS.md -> DEVGUIDE.md (#119)
  DEVGUIDE.md
Due: none

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  flake8: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  requirements-txt-fixer: any of: requirements.*\.txt$
