Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: autoflake
        description: remove unused imports and unused variables
        language: python
        types: [python]
        args: [
          --in-place,
          --ignore-init-module-imports,
          --remove-all-unused-imports,
          --recursive,
        ]

      - id: isort
        name: isort
        entry: isort
        description: sort imports
        language: python
        types: [python]
        args: [
          --filter-files,
          --remove-redundant-aliases,
        ]

      - id: black
        name: black
        entry: black
        description: format Python code
        language: python
        types: [python]

      - id: black-jupyter
        name: black-jupyter
        entry: black
        description: format Python code in notebooks
        language: python
        types: [jupyter]

      - id: flake8
        name: flake8
        entry: flake8
        description: tool for style guide enforcement
        language: python
        types: [python]

      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        description: check for files with names that would conflict on a case-insensitive filesystem
        language: python
        types: [text]

      - id: check-json
        name: check-json
        entry: check-json
        description: verify JSON syntax
        language: python
        types: [json]

      - id: check-toml
        name: check-toml
        entry: check-toml
        description: verify TOML syntax
        language: python
        types: [toml]

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        description: verify YAML syntax
        language: python
        types: [yaml]

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        description: makes sure files end in a newline and only a newline
        language: python
        types: [text]

      - id: requirements-txt-fixer
        name: requirements-txt-fixer
        entry: requirements-txt-fixer
        description: sorts entries in requirements.txt
        language: python
        files: requirements.*\.txt$

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        description: trim trailing whitespace
        language: python
        types: [text]

test: add itertools
  tests/test_itertools.py
Due: autoflake, isort, black, flake8

test: add itertools (#28)
  tests/test_itertools.py
Due: autoflake, isort, black, flake8

feat(pytlz): add humantime
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

style: fix minor format
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add stopwatch
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add str_to_date
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add weekday
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

refactor: use from toolz import curried
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

test(filter_regex): remove text
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add daycount
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add daterange
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add last_date_of_month
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add n_days
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add relative_date
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat: migrate bumbag time functions (#29)
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

refactor(relative_date): change signature
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

refactor(relative_date): change signature (#30)
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

refactor: isdivisibleby -> isdivisible
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

refactor: isdivisibleby -> isdivisible (#31)
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

docs: add examples
  docs/source/example.ipynb
Due: black-jupyter

docs(example.ipynb): add highlight_string_differences
  docs/source/example.ipynb
Due: black-jupyter

docs(example.ipynb): add stopwatch
  docs/source/example.ipynb
Due: black-jupyter

refactor: example.ipynb -> examples.ipynb
  README.md
  docs/source/examples.ipynb
  docs/source/index.md
Due: black-jupyter

docs: add notebook examples (#32)
  README.md
  docs/source/example.ipynb
  docs/source/examples.ipynb
  docs/source/index.md
Due: black-jupyter

0.8.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

refactor: pytlz -> pythonkit
  Makefile
  docs/source/conf.py
  docs/source/examples.ipynb
  src/onekit/pythonkit.py
  src/onekit/sparktlz.py
  tests/test_itertools.py
  tests/test_pythonkit.py
  tests/test_toolz.py
Due: autoflake, isort, black, black-jupyter, flake8

refactor: sparktlz -> sparkkit
  .github/workflows/release.yml
  .github/workflows/test.yml
  Makefile
  docs/source/conf.py
  docs/source/examples.ipynb
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8, check-yaml

build(pyproject.toml): rename sparktlz -> sparkkit
  poetry.lock
  pyproject.toml
Due: check-toml

refactor: pdtlz -> pandaskit
  Makefile
  docs/source/examples.ipynb
  poetry.lock
  pyproject.toml
Due: black-jupyter, check-toml

refactor: rename modules (#33)
  .github/workflows/release.yml
  .github/workflows/test.yml
  Makefile
  docs/source/conf.py
  docs/source/examples.ipynb
  poetry.lock
  pyproject.toml
  src/onekit/pythonkit.py
  src/onekit/sparkkit.py
  tests/test_itertools.py
  tests/test_pythonkit.py
  tests/test_sparkkit.py
  tests/test_toolz.py
Due: autoflake, isort, black, black-jupyter, flake8, check-toml, check-yaml

refactor(signif): curry function
  src/onekit/pythonkit.py
  tests/test_itertools.py
Due: autoflake, isort, black, flake8

refactor(signif): curry function (#34)
  src/onekit/pythonkit.py
  tests/test_itertools.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add peek
  docs/source/examples.ipynb
  pyproject.toml
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8, check-toml

feat(sparkkit): add peek (#35)
  docs/source/examples.ipynb
  pyproject.toml
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8, check-toml

0.9.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

docs(sparkkit.peek): add missing shape argument
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

refactor: DfIdentityFunction -> DFIdentityFunc
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

docs(sparkkit.peek): add missing shape argument (#36)
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add str_to_col
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

refactor: DFIdentityFunc -> SparkDFIdentityFunc
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8
