Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: autoflake
        description: remove unused imports and unused variables
        language: python
        types: [python]
        args: [
          --in-place,
          --ignore-init-module-imports,
          --remove-all-unused-imports,
          --recursive,
        ]

      - id: isort
        name: isort
        entry: isort
        description: sort imports
        language: python
        types: [python]
        args: [
          --filter-files,
          --remove-redundant-aliases,
        ]

      - id: black
        name: black
        entry: black
        description: format Python code
        language: python
        types: [python]

      - id: black-jupyter
        name: black-jupyter
        entry: black
        description: format Python code in notebooks
        language: python
        types: [jupyter]

      - id: flake8
        name: flake8
        entry: flake8
        description: tool for style guide enforcement
        language: python
        types: [python]

      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        description: check for files with names that would conflict on a case-insensitive filesystem
        language: python
        types: [text]

      - id: check-json
        name: check-json
        entry: check-json
        description: verify JSON syntax
        language: python
        types: [json]

      - id: check-toml
        name: check-toml
        entry: check-toml
        description: verify TOML syntax
        language: python
        types: [toml]

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        description: verify YAML syntax
        language: python
        types: [yaml]

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        description: makes sure files end in a newline and only a newline
        language: python
        types: [text]

      - id: requirements-txt-fixer
        name: requirements-txt-fixer
        entry: requirements-txt-fixer
        description: sorts entries in requirements.txt
        language: python
        files: requirements.*\.txt$

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        description: trim trailing whitespace
        language: python
        types: [text]

feat: add bool_to_int (#58)
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat: datecount -> date_count_backward, date_count_forward
  docs/source/examples.ipynb
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, black-jupyter, flake8

feat: datecount -> date_count_backward, date_count_forward (#59)
  docs/source/examples.ipynb
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, black-jupyter, flake8

refactor: rename daterange -> date_range
  docs/source/examples.ipynb
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, black-jupyter, flake8

refactor: rename daterange -> date_range (#60)
  docs/source/examples.ipynb
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, black-jupyter, flake8

refactor: rename sk.daterange -> sk.date_range
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

refactor(with_weekday): add type hint for determine_weekday
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

refactor: rename sk.daterange -> sk.date_range (#61)
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat: add with_increasing_id
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

test: fix nondeterministic test
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat: add with_increasing_id (#62)
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

1.0.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

refactor(filter_date): use with_date_diff_ago
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

refactor(filter_date): use with_date_diff_ago (#63)
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

feat(pythonkit): add timestamp
  docs/source/examples.ipynb
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, black-jupyter, flake8

docs(LICENSE): update year
  LICENSE
Due: none

refactor(timestamp): no positional arguments
  docs/source/examples.ipynb
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, black-jupyter, flake8

feat: add timestamp (#64)
  LICENSE
  docs/source/examples.ipynb
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, black-jupyter, flake8

docs: use consistent style for optional parameters
  src/onekit/pythonkit.py
  src/onekit/vizkit.py
Due: autoflake, isort, black, flake8

refactor(archive_files): add timezone
  src/onekit/pythonkit.py
Due: autoflake, isort, black, flake8

feat(stopwatch): add timezone
  docs/source/examples.ipynb
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, black-jupyter, flake8

feat(stopwatch): add timezone (#65)
  docs/source/examples.ipynb
  src/onekit/pythonkit.py
  src/onekit/vizkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, black-jupyter, flake8

1.1.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

refactor(filter_date): n=inf for no lower bound
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

refactor(filter_date): n=inf for no lower bound (#66)
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

test: refactor spark session
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

test: refactor spark session (#67)
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

build: add pytz
  poetry.lock
  pyproject.toml
Due: check-toml

fix: dependencies
  Makefile
  poetry.lock
  pyproject.toml
Due: check-toml

fix: dependencies (#68)
  Makefile
  poetry.lock
  pyproject.toml
Due: check-toml

1.1.1
  CHANGELOG.md
  pyproject.toml
Due: check-toml

feat(mathkit): add digitscale
  src/onekit/mathkit.py
  tests/test_mathkit.py
Due: autoflake, isort, black, flake8

feat(mathkit): add sign
  src/onekit/mathkit.py
  tests/test_mathkit.py
Due: autoflake, isort, black, flake8

feat(numpykit): add digitscale
  pyproject.toml
  src/onekit/mathkit.py
  src/onekit/numpykit.py
  tests/test_numpykit.py
Due: autoflake, isort, black, flake8, check-toml

feat(sparkkit): add with_digitscale
  src/onekit/mathkit.py
  src/onekit/numpykit.py
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

docs: add mathkit.ipynb
  docs/source/index.md
  docs/source/mathkit.ipynb
Due: black-jupyter

feat: add digitscale (#69)
  docs/source/index.md
  docs/source/mathkit.ipynb
  pyproject.toml
  src/onekit/mathkit.py
  src/onekit/numpykit.py
  src/onekit/sparkkit.py
  tests/test_mathkit.py
  tests/test_numpykit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8, check-toml

docs: update onekit logo
  docs/source/_static/onekitlogo.png
  docs/source/_static/onekitlogosmall.png
Due: none

docs: update onekit logo (#70)
  docs/source/_static/onekitlogo.png
  docs/source/_static/onekitlogosmall.png
Due: none

style: change wording
  docs/source/mathkit.ipynb
Due: black-jupyter
