Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

autoflake:
  name: autoflake
  entry: autoflake
  description: remove unused imports and unused variables
  language: python
  args:
  - --in-place
  - --ignore-init-module-imports
  - --remove-all-unused-imports
  - --recursive

isort:
  name: isort
  entry: isort
  description: sort imports
  language: python
  args:
  - --filter-files
  - --remove-redundant-aliases

black:
  name: black
  entry: black
  description: format Python code
  language: python

black-jupyter:
  name: black-jupyter
  entry: black
  description: format Python code in notebooks
  language: python

flake8:
  name: flake8
  entry: flake8
  description: tool for style guide enforcement
  language: python

check-json:
  name: check-json
  entry: check-json
  description: verify JSON syntax
  language: python

check-toml:
  name: check-toml
  entry: check-toml
  description: verify TOML syntax
  language: python

check-yaml:
  name: check-yaml
  entry: check-yaml
  description: verify YAML syntax
  language: python

requirements-txt-fixer:
  name: requirements-txt-fixer
  entry: requirements-txt-fixer
  description: sorts entries in requirements.txt
  language: python

style: change wording (#71)
  docs/source/mathkit.ipynb
Due: black-jupyter

build: improve remove-local-branches
  Makefile
Due: none

build: improve remove-local-branches (#72)
  Makefile
Due: none

build: update github workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: check-yaml

build: move time-machine dep to testing group
  poetry.lock
  pyproject.toml
Due: check-toml

build: update github workflows (#73)
  .github/workflows/release.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

1.2.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

build: update poetry
  .devcontainer/Dockerfile
  .devcontainer/postcreate.sh
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: check-yaml

build: update poetry (#74)
  .devcontainer/Dockerfile
  .devcontainer/postcreate.sh
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: check-yaml

feat(digitscale): add kind
  docs/source/mathkit.ipynb
  src/onekit/mathkit.py
  src/onekit/numpykit.py
  src/onekit/sparkkit.py
  tests/test_mathkit.py
  tests/test_numpykit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8

feat(digitscale): add linear kind
  docs/source/mathkit.ipynb
  src/onekit/mathkit.py
  src/onekit/numpykit.py
  src/onekit/sparkkit.py
  tests/test_mathkit.py
  tests/test_numpykit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8

style: be consistent
  src/onekit/mathkit.py
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

feat: extend digitscale (#75)
  docs/source/mathkit.ipynb
  src/onekit/mathkit.py
  src/onekit/numpykit.py
  src/onekit/sparkkit.py
  tests/test_mathkit.py
  tests/test_numpykit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8

feat: add select_col_types
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat: add select_col_types (#76)
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

build: improve docker setup
  .devcontainer/Dockerfile
  .devcontainer/postcreate.sh
Due: none

build: refactor clear_cache.py
  scripts/clear_cache.py
Due: autoflake, isort, black, flake8

build: update poetry.lock
  poetry.lock
Due: none

build: add command.py
  DEVELOPERS.md
  command.py
  scripts/clear_cache.py
Due: autoflake, isort, black, flake8

build: update process_argument__create_docs
  command.py
Due: autoflake, isort, black, flake8

docs: update year
  docs/source/conf.py
Due: autoflake, isort, black, flake8

build: add remove_docs
  command.py
Due: autoflake, isort, black, flake8

build(command.py): refactor main
  DEVELOPERS.md
  command.py
Due: autoflake, isort, black, flake8

build(command.py): add poetry commands
  command.py
Due: autoflake, isort, black, flake8

revert: "build: update poetry.lock"
  poetry.lock
Due: none

build: delete Makefile
  Makefile
Due: none

build: update commands
  DEVELOPERS.md
  command.py
Due: autoflake, isort, black, flake8

build: update commands
  command.py
Due: autoflake, isort, black, flake8

fix: remove create_path
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

fix: add strtobool
  src/onekit/pythonkit.py
Due: autoflake, isort, black, flake8

build: upgrade pip
  .devcontainer/Dockerfile
Due: none

test: fix test_highlight_string_differences
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

test: fix test_lazy_read_lines
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

test: fix TestTimestamp.test_default_call
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

test: fix TestStopwatch no regex match
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

test: fix test_vizkit.py
  tests/test_vizkit.py
Due: autoflake, isort, black, flake8

refactor: run_remove_docs
  command.py
Due: autoflake, isort, black, flake8

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  flake8: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  requirements-txt-fixer: any of: requirements.*\.txt$
