Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

autoflake:
  name: autoflake
  entry: autoflake
  description: remove unused imports and unused variables
  language: python
  args:
  - --in-place
  - --ignore-init-module-imports
  - --remove-all-unused-imports
  - --recursive

isort:
  name: isort
  entry: isort
  description: sort imports
  language: python
  args:
  - --filter-files
  - --remove-redundant-aliases

black:
  name: black
  entry: black
  description: format Python code
  language: python

black-jupyter:
  name: black-jupyter
  entry: black
  description: format Python code in notebooks
  language: python

flake8:
  name: flake8
  entry: flake8
  description: tool for style guide enforcement
  language: python

check-json:
  name: check-json
  entry: check-json
  description: verify JSON syntax
  language: python

check-toml:
  name: check-toml
  entry: check-toml
  description: verify TOML syntax
  language: python

check-yaml:
  name: check-yaml
  entry: check-yaml
  description: verify YAML syntax
  language: python

requirements-txt-fixer:
  name: requirements-txt-fixer
  entry: requirements-txt-fixer
  description: sorts entries in requirements.txt
  language: python

refactor(playbook.py): delete directories first
  playbook.py
Due: autoflake, isort, black, flake8

build: remove .master('local[*]') from spark session for testing
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

revert: remove .master('local[*]') from spark session for testing
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

build(workflows/test.yml): add spark setup
  .github/workflows/test.yml
Due: check-yaml

build(workflows/test.yml): fix java distribution
  .github/workflows/test.yml
Due: check-yaml

build(workflows/test.yml): fix spark version
  .github/workflows/test.yml
Due: check-yaml

build(workflows/test.yml): update spark version
  .github/workflows/test.yml
Due: check-yaml

test: do not test spark version
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat: add dekit (#88)
  .github/workflows/test.yml
  DEVELOPERS.md
  docs/source/dekit.ipynb
  playbook.py
  poetry.lock
  pyproject.toml
  src/onekit/dekit.py
  src/onekit/numpykit.py
  src/onekit/pythonkit.py
  tests/test_dekit.py
  tests/test_numpykit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8, check-toml, check-yaml

build(workflows/release.yml): add spark setup
  .github/workflows/release.yml
Due: check-yaml

build: update python (3.11), poetry (2.1.1), and spark (3.5.3)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/release.yml
  .github/workflows/test.yml
  .readthedocs.yaml
  DEVELOPERS.md
  README.md
  playbook.py
  poetry.lock
  pyproject.toml
  src/onekit/__init__.py
Due: autoflake, isort, black, flake8, check-json, check-toml, check-yaml

build: update versions (#89)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/release.yml
  .github/workflows/test.yml
  .readthedocs.yaml
  DEVELOPERS.md
  README.md
  playbook.py
  poetry.lock
  pyproject.toml
  src/onekit/__init__.py
Due: autoflake, isort, black, flake8, check-json, check-toml, check-yaml

docs(DEVELOPERS.md): update PSR link
  DEVELOPERS.md
Due: none

refactor: improve type hints
  src/onekit/dekit.py
  src/onekit/mathkit.py
  src/onekit/numpykit.py
  src/onekit/optfunckit.py
  src/onekit/pandaskit.py
  src/onekit/pythonkit.py
  src/onekit/sklearnkit.py
  src/onekit/sparkkit.py
  src/onekit/vizkit.py
  tests/test_mathkit.py
  tests/test_pythonkit.py
  tests/test_sparkkit.py
  tests/test_toolz.py
  tests/test_vizkit.py
Due: autoflake, isort, black, flake8

fix(Dockerfile): workspace
  .devcontainer/Dockerfile
Due: none

feat: refactor sparkkit function signatures
  docs/source/examples.ipynb
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8

feat: refactor sparkkit function signatures (#90)
  .devcontainer/Dockerfile
  DEVELOPERS.md
  docs/source/examples.ipynb
  src/onekit/dekit.py
  src/onekit/mathkit.py
  src/onekit/numpykit.py
  src/onekit/optfunckit.py
  src/onekit/pandaskit.py
  src/onekit/pythonkit.py
  src/onekit/sklearnkit.py
  src/onekit/sparkkit.py
  src/onekit/vizkit.py
  tests/test_mathkit.py
  tests/test_pythonkit.py
  tests/test_sparkkit.py
  tests/test_toolz.py
  tests/test_vizkit.py
Due: autoflake, isort, black, black-jupyter, flake8

refactor(select_col_types): apply try/except logic
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

refactor(select_col_types): apply try/except logic (#91)
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

refactor(digitscale): remove curry
  docs/source/mathkit.ipynb
  src/onekit/mathkit.py
  src/onekit/numpykit.py
Due: autoflake, isort, black, black-jupyter, flake8

refactor(isdivisible): remove curry
  src/onekit/mathkit.py
  src/onekit/pythonkit.py
Due: autoflake, isort, black, flake8

refactor: remove curry from mathkit functions (#92)
  docs/source/mathkit.ipynb
  src/onekit/mathkit.py
  src/onekit/numpykit.py
  src/onekit/pythonkit.py
Due: autoflake, isort, black, black-jupyter, flake8

feat(pythonkit): add get_shell_type
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

build(pandaskit): add tabulate
  poetry.lock
  pyproject.toml
Due: check-toml

refactor(num_to_str): integrate g format
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

feat(pandaskit): add display
  src/onekit/pandaskit.py
Due: autoflake, isort, black, flake8

refactor(sparkkit): use display function in peek
  docs/source/examples.ipynb
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8

refactor(sparkkit): peek (#93)
  docs/source/examples.ipynb
  poetry.lock
  pyproject.toml
  src/onekit/pandaskit.py
  src/onekit/pythonkit.py
  src/onekit/sparkkit.py
  tests/test_pythonkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8, check-toml

refactor(date_ago): remove curry
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

docs(date_ago): shorten docstring
  src/onekit/pythonkit.py
Due: autoflake, isort, black, flake8

refactor(date_ahead): remove curry
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

refactor(op): remove curry
  src/onekit/pythonkit.py
Due: autoflake, isort, black, flake8

refactor(signif): remove curry
  src/onekit/pythonkit.py
  tests/test_itertools.py
Due: autoflake, isort, black, flake8

refactor: improve type hints
  src/onekit/pythonkit.py
Due: autoflake, isort, black, flake8

refactor(reduce_sets): remove curry
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

refactor(pythonkit): improve type inspection
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

refactor(pythonkit): rename d0 -> ref_date
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

refactor(pythonkit): remove curry (#94)
  src/onekit/pythonkit.py
  tests/test_itertools.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

refactor(filter_date): rename d0 -> ref_date
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

refactor(sparkkit): rename d0 -> ref_date
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  flake8: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  requirements-txt-fixer: any of: requirements.*\.txt$
