Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

autoflake:
  name: autoflake
  entry: autoflake
  description: remove unused imports and unused variables
  language: python
  args:
  - --in-place
  - --ignore-init-module-imports
  - --remove-all-unused-imports
  - --recursive

isort:
  name: isort
  entry: isort
  description: sort imports
  language: python
  args:
  - --filter-files
  - --remove-redundant-aliases

black:
  name: black
  entry: black
  description: format Python code
  language: python

black-jupyter:
  name: black-jupyter
  entry: black
  description: format Python code in notebooks
  language: python

flake8:
  name: flake8
  entry: flake8
  description: tool for style guide enforcement
  language: python

check-json:
  name: check-json
  entry: check-json
  description: verify JSON syntax
  language: python

check-toml:
  name: check-toml
  entry: check-toml
  description: verify TOML syntax
  language: python

check-yaml:
  name: check-yaml
  entry: check-yaml
  description: verify YAML syntax
  language: python

requirements-txt-fixer:
  name: requirements-txt-fixer
  entry: requirements-txt-fixer
  description: sorts entries in requirements.txt
  language: python

docs: fix dev guide references
  README.md
  docs/source/developers.md
  docs/source/devguide.md
  docs/source/index.md
Due: none

docs: fix dev guide references (#120)
  README.md
  docs/source/developers.md
  docs/source/devguide.md
  docs/source/index.md
Due: none

FIXME
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

style(date_diff): fix typo
  src/onekit/pythonkit.py
Due: autoflake, isort, black, flake8

feat: add timekit
  src/onekit/pythonkit.py
  src/onekit/timekit.py
  tests/test_pythonkit.py
  tests/test_sparkkit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

refactor(date_diff): use min_date and max_date
  src/onekit/timekit.py
Due: autoflake, isort, black, flake8

refactor(num_days): use min_date and max_date
  src/onekit/timekit.py
Due: autoflake, isort, black, flake8

refactor(str_to_date): rename string -> s
  src/onekit/timekit.py
Due: autoflake, isort, black, flake8

docs: add timekit
  docs/source/conf.py
Due: autoflake, isort, black, flake8

feat(timekit): add create_date_range
  src/onekit/exception.py
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

test(timekit): add single day range case
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

feat(DateRange): add day properties
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

feat(DateRange): add make_date_range
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

feat(DateRange): add difference_in_years
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

feat(DateRange): add duration
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

test: ignore InvalidDateRangeWarning
  playbook.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

chore: add python-dateutil to base dependencies
  DEVGUIDE.md
  poetry.lock
  pyproject.toml
Due: check-toml

refactor(exception.py): remove pyspark dependency
  src/onekit/exception.py
Due: autoflake, isort, black, flake8

refactor(exception.py): make flake8 exception
  src/onekit/exception.py
Due: autoflake, isort, black, flake8

feat(DateRange): overwrite __str__
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

feat(date_diff): add unit argument
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

refactor(DateRange): rename duration -> difference
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

refactor(num_days): add unit
  src/onekit/timekit.py
Due: autoflake, isort, black, flake8

4.0.0
  pyproject.toml
Due: check-toml

docs(CHANGELOG.md): update v4.0.0 release
  CHANGELOG.md
Due: none

fix(create_date_range): remove warning
  playbook.py
  src/onekit/exception.py
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

refactor(DateRange): string representation
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

feat(timekit): add ElapsedTime
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

feat(timekit): add ElapsedTime (#122)
  playbook.py
  src/onekit/exception.py
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

4.1.0
  pyproject.toml
Due: check-toml

4.1.0
  CHANGELOG.md
Due: none

feat: add duckdb as optional base dependency
  DEVGUIDE.md
  poetry.lock
  pyproject.toml
Due: check-toml

feat(timekit): add datesub
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

feat: add datesub (#123)
  DEVGUIDE.md
  poetry.lock
  pyproject.toml
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8, check-toml

feat(timekit): add to_datetime
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

feat(timekit): add to_datetime (#124)
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

feat(timekit): add isoduration
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  flake8: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  requirements-txt-fixer: any of: requirements.*\.txt$
