Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

autoflake:
  name: autoflake
  entry: autoflake
  description: remove unused imports and unused variables
  language: python
  args:
  - --in-place
  - --ignore-init-module-imports
  - --remove-all-unused-imports
  - --recursive

isort:
  name: isort
  entry: isort
  description: sort imports
  language: python
  args:
  - --filter-files
  - --remove-redundant-aliases

black:
  name: black
  entry: black
  description: format Python code
  language: python

black-jupyter:
  name: black-jupyter
  entry: black
  description: format Python code in notebooks
  language: python

flake8:
  name: flake8
  entry: flake8
  description: tool for style guide enforcement
  language: python

check-json:
  name: check-json
  entry: check-json
  description: verify JSON syntax
  language: python

check-toml:
  name: check-toml
  entry: check-toml
  description: verify TOML syntax
  language: python

check-yaml:
  name: check-yaml
  entry: check-yaml
  description: verify YAML syntax
  language: python

requirements-txt-fixer:
  name: requirements-txt-fixer
  entry: requirements-txt-fixer
  description: sorts entries in requirements.txt
  language: python

feat(timekit): add isoduration (#125)
  src/onekit/timekit.py
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

refactor(timekit): streamline module
  DEVGUIDE.md
  docs/source/dekit.ipynb
  docs/source/examples.ipynb
  poetry.lock
  pyproject.toml
  src/onekit/pythonkit.py
  src/onekit/timekit.py
  tests/test_sparkkit.py
  tests/test_timekit.py
Due: autoflake, isort, black, black-jupyter, flake8, check-toml

test: fix failed tests on github due to invalid timezone value
  tests/test_timekit.py
Due: autoflake, isort, black, flake8

refactor(timekit): streamline module (#126)
  DEVGUIDE.md
  docs/source/dekit.ipynb
  docs/source/examples.ipynb
  poetry.lock
  pyproject.toml
  src/onekit/pythonkit.py
  src/onekit/timekit.py
  tests/test_sparkkit.py
  tests/test_timekit.py
Due: autoflake, isort, black, black-jupyter, flake8, check-toml

5.0.0
  pyproject.toml
Due: check-toml

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  flake8: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  requirements-txt-fixer: any of: requirements.*\.txt$
