Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: autoflake
        description: remove unused imports and unused variables
        language: python
        types: [python]
        args: [
          --in-place,
          --ignore-init-module-imports,
          --remove-all-unused-imports,
          --recursive,
        ]

      - id: isort
        name: isort
        entry: isort
        description: sort imports
        language: python
        types: [python]
        args: [
          --filter-files,
          --remove-redundant-aliases,
        ]

      - id: black
        name: black
        entry: black
        description: format Python code
        language: python
        types: [python]

      - id: black-jupyter
        name: black-jupyter
        entry: black
        description: format Python code in notebooks
        language: python
        types: [jupyter]

      - id: flake8
        name: flake8
        entry: flake8
        description: tool for style guide enforcement
        language: python
        types: [python]

      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        description: check for files with names that would conflict on a case-insensitive filesystem
        language: python
        types: [text]

      - id: check-json
        name: check-json
        entry: check-json
        description: verify JSON syntax
        language: python
        types: [json]

      - id: check-toml
        name: check-toml
        entry: check-toml
        description: verify TOML syntax
        language: python
        types: [toml]

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        description: verify YAML syntax
        language: python
        types: [yaml]

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        description: makes sure files end in a newline and only a newline
        language: python
        types: [text]

      - id: requirements-txt-fixer
        name: requirements-txt-fixer
        entry: requirements-txt-fixer
        description: sorts entries in requirements.txt
        language: python
        files: requirements.*\.txt$

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        description: trim trailing whitespace
        language: python
        types: [text]

style: update docs (#11)
  Makefile
  src/onekit/pytlz.py
  src/onekit/sparktlz.py
  tests/test_sparktlz.py
Due: autoflake, isort, black, flake8

ci(release.yml): use release token
  .github/workflows/release.yml
Due: check-yaml

ci(release.yml): use release token (#12)
  .github/workflows/release.yml
Due: check-yaml

docs(README.md): remove example
  README.md
Due: none

docs(README.md): remove example (#13)
  README.md
Due: none

build(pyproject.toml): update classifiers
  pyproject.toml
Due: check-toml

build(pyproject.toml): update classifiers (#14)
  pyproject.toml
Due: check-toml

revert: "ci(release.yml): use release token (#12)"
  .github/workflows/release.yml
Due: check-yaml

revert: "ci(release.yml): use release token (#12)" (#15)
  .github/workflows/release.yml
Due: check-yaml

test: ignore Spark doctest
  .github/workflows/release.yml
  .github/workflows/test.yml
  Makefile
  src/onekit/sparktlz.py
Due: autoflake, isort, black, flake8, check-yaml

test: ignore Spark doctest (#16)
  .github/workflows/release.yml
  .github/workflows/test.yml
  Makefile
  src/onekit/sparktlz.py
Due: autoflake, isort, black, flake8, check-yaml

docs: update developer guide
  DEVELOPERS.md
  README.md
Due: none

docs: update developer guide (#17)
  DEVELOPERS.md
  README.md
Due: none

build: add toolz
  Makefile
  poetry.lock
  pyproject.toml
Due: check-toml

test: add toolz
  tests/conftest.py
  tests/test_toolz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add isdivisibleby
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add iseven
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add isodd
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add all_predicate_true
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add any_predicate_true
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

test: use leaner syntax
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

test: mark Spark tests as slow
  Makefile
  pyproject.toml
  tests/conftest.py
  tests/test_sparktlz.py
Due: autoflake, isort, black, flake8, check-toml

test: use test class for toolz
  tests/conftest.py
  tests/test_toolz.py
Due: autoflake, isort, black, flake8

build: add pytest-skip-slow
  .github/workflows/release.yml
  .github/workflows/test.yml
  Makefile
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

test(TestSparkToolz): refactor assert_dataframe_equal
  tests/test_sparktlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add extend_range
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add func_name
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add source_code
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add signif
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add reduce_sets
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

refactor(num_to_str): consistent type hinting
  src/onekit/pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add contrast_sets
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

docs(all_predicate_true): add type call to show it is curried
  src/onekit/pytlz.py
Due: autoflake, isort, black, flake8

docs(any_predicate_true): add type call to show it is curried
  src/onekit/pytlz.py
Due: autoflake, isort, black, flake8

docs(extend_range): add type call to show it is curried
  src/onekit/pytlz.py
Due: autoflake, isort, black, flake8

docs(isdivisibleby): add type call to show it is curried
  src/onekit/pytlz.py
Due: autoflake, isort, black, flake8

docs(signif): add type call to show it is curried
  src/onekit/pytlz.py
Due: autoflake, isort, black, flake8

feat: add bumbag core functions (#18)
  .github/workflows/release.yml
  .github/workflows/test.yml
  Makefile
  poetry.lock
  pyproject.toml
  src/onekit/pytlz.py
  tests/conftest.py
  tests/test_pytlz.py
  tests/test_sparktlz.py
  tests/test_toolz.py
Due: autoflake, isort, black, flake8, check-toml, check-yaml

refactor(all_predicate_true): use inner function
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

refactor(any_predicate_true): use inner function
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8
