Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: autoflake
        description: remove unused imports and unused variables
        language: python
        types: [python]
        args: [
          --in-place,
          --ignore-init-module-imports,
          --remove-all-unused-imports,
          --recursive,
        ]

      - id: isort
        name: isort
        entry: isort
        description: sort imports
        language: python
        types: [python]
        args: [
          --filter-files,
          --remove-redundant-aliases,
        ]

      - id: black
        name: black
        entry: black
        description: format Python code
        language: python
        types: [python]

      - id: black-jupyter
        name: black-jupyter
        entry: black
        description: format Python code in notebooks
        language: python
        types: [jupyter]

      - id: flake8
        name: flake8
        entry: flake8
        description: tool for style guide enforcement
        language: python
        types: [python]

      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        description: check for files with names that would conflict on a case-insensitive filesystem
        language: python
        types: [text]

      - id: check-json
        name: check-json
        entry: check-json
        description: verify JSON syntax
        language: python
        types: [json]

      - id: check-toml
        name: check-toml
        entry: check-toml
        description: verify TOML syntax
        language: python
        types: [toml]

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        description: verify YAML syntax
        language: python
        types: [yaml]

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        description: makes sure files end in a newline and only a newline
        language: python
        types: [text]

      - id: requirements-txt-fixer
        name: requirements-txt-fixer
        entry: requirements-txt-fixer
        description: sorts entries in requirements.txt
        language: python
        files: requirements.*\.txt$

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        description: trim trailing whitespace
        language: python
        types: [text]

fix: docstrings of with_date_diff_ago and with_date_diff_ahead (#106)
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

2.1.1
  CHANGELOG.md
  pyproject.toml
Due: check-toml

feat(vizkit): add plot_digitscale
  docs/source/mathkit.ipynb
  src/onekit/vizkit.py
  tests/test_vizkit.py
Due: autoflake, isort, black, black-jupyter, flake8

feat(vizkit): add plot_digitscale (#107)
  docs/source/mathkit.ipynb
  src/onekit/vizkit.py
  tests/test_vizkit.py
Due: autoflake, isort, black, black-jupyter, flake8

2.2.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

fix(plot_digitscale): have x and y
  docs/source/mathkit.ipynb
  src/onekit/vizkit.py
Due: autoflake, isort, black, black-jupyter, flake8

fix(plot_digitscale): have x and y (#108)
  docs/source/mathkit.ipynb
  src/onekit/vizkit.py
Due: autoflake, isort, black, black-jupyter, flake8

2.2.1
  CHANGELOG.md
  pyproject.toml
Due: check-toml

fix(plot_digitscale): do not set xlabel
  src/onekit/vizkit.py
Due: autoflake, isort, black, flake8

fix(plot_digitscale): do not set xlabel (#109)
  src/onekit/vizkit.py
Due: autoflake, isort, black, flake8

2.2.2
  CHANGELOG.md
  pyproject.toml
Due: check-toml

docs: update mathkit.ipynb
  docs/source/mathkit.ipynb
Due: black-jupyter

docs: update mathkit.ipynb (#110)
  docs/source/mathkit.ipynb
Due: black-jupyter

feat: add exception module
  src/onekit/exception.py
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

docs: add exception module
  docs/source/conf.py
Due: autoflake, isort, black, flake8

docs: update copyright
  docs/source/conf.py
Due: autoflake, isort, black, flake8

refactor: n -> num
  src/onekit/pandaskit.py
Due: autoflake, isort, black, flake8

feat(pythonkit): add parent_varname
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

feat(exception): add InvalidChoiceError
  src/onekit/exception.py
  tests/test_exception.py
Due: autoflake, isort, black, flake8

test: ColumnNotFoundError
  src/onekit/exception.py
  tests/test_exception.py
Due: autoflake, isort, black, flake8

test: RowCountMismatchError
  src/onekit/exception.py
  tests/test_exception.py
Due: autoflake, isort, black, flake8

fix: rename RowMismatchError -> RowValueMismatchError
  src/onekit/exception.py
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

docs(SchemaMismatchError): update docstring
  src/onekit/exception.py
Due: autoflake, isort, black, flake8

docs(exception): update docstrings
  src/onekit/exception.py
  tests/test_exception.py
Due: autoflake, isort, black, flake8

feat: add exception module (#111)
  docs/source/conf.py
  src/onekit/exception.py
  src/onekit/pandaskit.py
  src/onekit/pythonkit.py
  src/onekit/sparkkit.py
  tests/test_exception.py
  tests/test_pythonkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

3.0.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

fix: notebook docs
  docs/source/dekit.ipynb
  docs/source/examples.ipynb
  docs/source/mathkit.ipynb
Due: black-jupyter

fix: notebook docs (#112)
  docs/source/dekit.ipynb
  docs/source/examples.ipynb
  docs/source/mathkit.ipynb
Due: black-jupyter

3.0.1
  CHANGELOG.md
  pyproject.toml
Due: check-toml

build: update python-semantic-release 8.7.0 -> 9.21.0
  poetry.lock
  pyproject.toml
Due: check-toml

build(release.yml): update python-semantic-release
  .github/workflows/release.yml
Due: check-yaml

build: update python-semantic-release (#113)
  .github/workflows/release.yml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

feat(numpykit): add create_boolean_array
  src/onekit/numpykit.py
  tests/test_numpykit.py
Due: autoflake, isort, black, flake8

feat(scipykit): add compute_beta_posterior
  docs/source/conf.py
  src/onekit/scipykit.py
  tests/test_scipykit.py
Due: autoflake, isort, black, flake8

feat(scipykit): add highest density interval
  src/onekit/scipykit.py
  tests/test_scipykit.py
Due: autoflake, isort, black, flake8

feat(concat_strings): exclude None values
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

fix(BetaParams.get_summary): proper treatment of None values
  src/onekit/scipykit.py
Due: autoflake, isort, black, flake8

test(BetaParams): add more tests
  tests/test_scipykit.py
Due: autoflake, isort, black, flake8

feat(vizkit): add plot_beta_distribution
  docs/source/vizkit.ipynb
  src/onekit/vizkit.py
  tests/test_vizkit.py
Due: autoflake, isort, black, black-jupyter, flake8

refactor(BetaParams): get_summary
  src/onekit/scipykit.py
Due: autoflake, isort, black, flake8
