Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: autoflake
        description: remove unused imports and unused variables
        language: python
        types: [python]
        args: [
          --in-place,
          --ignore-init-module-imports,
          --remove-all-unused-imports,
          --recursive,
        ]

      - id: isort
        name: isort
        entry: isort
        description: sort imports
        language: python
        types: [python]
        args: [
          --filter-files,
          --remove-redundant-aliases,
        ]

      - id: black
        name: black
        entry: black
        description: format Python code
        language: python
        types: [python]

      - id: black-jupyter
        name: black-jupyter
        entry: black
        description: format Python code in notebooks
        language: python
        types: [jupyter]

      - id: flake8
        name: flake8
        entry: flake8
        description: tool for style guide enforcement
        language: python
        types: [python]

      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        description: check for files with names that would conflict on a case-insensitive filesystem
        language: python
        types: [text]

      - id: check-json
        name: check-json
        entry: check-json
        description: verify JSON syntax
        language: python
        types: [json]

      - id: check-toml
        name: check-toml
        entry: check-toml
        description: verify TOML syntax
        language: python
        types: [toml]

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        description: verify YAML syntax
        language: python
        types: [yaml]

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        description: makes sure files end in a newline and only a newline
        language: python
        types: [text]

      - id: requirements-txt-fixer
        name: requirements-txt-fixer
        entry: requirements-txt-fixer
        description: sorts entries in requirements.txt
        language: python
        files: requirements.*\.txt$

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        description: trim trailing whitespace
        language: python
        types: [text]

refactor(sparkkit): rename d0 -> ref_date (#95)
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

refactor: rename number_of_days -> num_days
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

refactor: rename number_of_days -> num_days (#96)
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

2.0.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

docs(LICENSE): update year
  LICENSE
Due: none

test: rename test function
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

feat(pythonkit): add date_diff
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

refactor(num_days): use date_diff
  src/onekit/pythonkit.py
Due: autoflake, isort, black, flake8

docs(pyproject.toml): add classifier python 3.12
  pyproject.toml
Due: check-toml

build(workflows/test.yml): upgrade pip, setuptools, and wheel
  .github/workflows/test.yml
Due: check-yaml

build(workflows/test.yml): use env workaround
  .github/workflows/test.yml
Due: check-yaml

build(workflows/test.yml): downgrade setuptools
  .github/workflows/test.yml
Due: check-yaml

build(workflows/test.yml): pin setuptools==78.0.2
  .github/workflows/test.yml
Due: check-yaml

build(workflows/release.yml): pin setuptools==78.0.2
  .github/workflows/release.yml
Due: check-yaml

feat(pythonkit): add date_diff (#98)
  .github/workflows/release.yml
  .github/workflows/test.yml
  LICENSE
  pyproject.toml
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8, check-toml, check-yaml

refactor(peek): cast bool to str not int
  docs/source/dekit.ipynb
  docs/source/examples.ipynb
  src/onekit/pandaskit.py
  src/onekit/sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8

refactor(peek): cast bool to str not int (#99)
  docs/source/dekit.ipynb
  docs/source/examples.ipynb
  src/onekit/pandaskit.py
  src/onekit/sparkkit.py
Due: autoflake, isort, black, black-jupyter, flake8

feat(pythonkit): add BaseEnum
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

feat(pythonkit): add ShellType Enum
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

feat: add base enum (#100)
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

build: introduce optional dependencies
  .devcontainer/Dockerfile
  .github/workflows/release.yml
  .github/workflows/test.yml
  poetry.lock
  pyproject.toml
  src/onekit/dekit.py
  src/onekit/numpykit.py
  src/onekit/optfunckit.py
  src/onekit/pythonkit.py
  src/onekit/sklearnkit.py
  src/onekit/vizkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8, check-toml, check-yaml

docs: update for optional dependencies
  DEVELOPERS.md
  README.md
Due: none

docs: update notebooks
  docs/source/dekit.ipynb
  docs/source/examples.ipynb
Due: black-jupyter

build: update time-machine for docs requirements
  docs/requirements.txt
Due: requirements-txt-fixer

build: add without groups in workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: check-yaml

build: add time-machine to dev group
  poetry.lock
  pyproject.toml
Due: check-toml

refactor: enable installation of optional dependencies (#102)
  .devcontainer/Dockerfile
  .github/workflows/release.yml
  .github/workflows/test.yml
  DEVELOPERS.md
  README.md
  docs/requirements.txt
  docs/source/dekit.ipynb
  docs/source/examples.ipynb
  poetry.lock
  pyproject.toml
  src/onekit/dekit.py
  src/onekit/numpykit.py
  src/onekit/optfunckit.py
  src/onekit/pythonkit.py
  src/onekit/sklearnkit.py
  src/onekit/vizkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, black-jupyter, flake8, check-toml, check-yaml, requirements-txt-fixer

2.1.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

build: refactor optional dependency groups
  poetry.lock
  pyproject.toml
Due: check-toml

docs: account for refactored optional dependency groups
  DEVELOPERS.md
  README.md
Due: none

refactor: update optional dependencies (#103)
  DEVELOPERS.md
  README.md
  poetry.lock
  pyproject.toml
Due: check-toml

build: rename venv -> .venv
  DEVELOPERS.md
  playbook.py
Due: autoflake, isort, black, flake8

build: rename venv -> .venv (#104)
  DEVELOPERS.md
  playbook.py
Due: autoflake, isort, black, flake8

docs: add collatz plots
  docs/source/mathkit.ipynb
Due: black-jupyter

docs: add collatz plots (#105)
  docs/source/mathkit.ipynb
Due: black-jupyter

fix: docstrings of with_date_diff_ago and with_date_diff_ahead
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8
