Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

autoflake:
  name: autoflake
  entry: autoflake
  description: remove unused imports and unused variables
  language: python
  args:
  - --in-place
  - --ignore-init-module-imports
  - --remove-all-unused-imports
  - --recursive

isort:
  name: isort
  entry: isort
  description: sort imports
  language: python
  args:
  - --filter-files
  - --remove-redundant-aliases

black:
  name: black
  entry: black
  description: format Python code
  language: python

black-jupyter:
  name: black-jupyter
  entry: black
  description: format Python code in notebooks
  language: python

flake8:
  name: flake8
  entry: flake8
  description: tool for style guide enforcement
  language: python

check-json:
  name: check-json
  entry: check-json
  description: verify JSON syntax
  language: python

check-toml:
  name: check-toml
  entry: check-toml
  description: verify TOML syntax
  language: python

check-yaml:
  name: check-yaml
  entry: check-yaml
  description: verify YAML syntax
  language: python

requirements-txt-fixer:
  name: requirements-txt-fixer
  entry: requirements-txt-fixer
  description: sorts entries in requirements.txt
  language: python

0.1.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

ci: GitHub release before PyPI
  .github/workflows/release.yml
Due: check-yaml

feat(pytlz): add num_to_str
  src/onekit/__init__.py
  src/onekit/core.py
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

docs: show pytlz module
  docs/source/conf.py
Due: autoflake, isort, black, flake8

feat(pytlz): add num_to_str (#1)
  docs/source/conf.py
  src/onekit/__init__.py
  src/onekit/core.py
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

0.2.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

num_to_str: improve type hinting
  src/onekit/pytlz.py
Due: autoflake, isort, black, flake8

changelog.md: remove bullet points
  CHANGELOG.md
Due: none

refactor: num_to_str (#2)
  CHANGELOG.md
  src/onekit/pytlz.py
Due: autoflake, isort, black, flake8

num_to_str: rephrase docstring
  src/onekit/pytlz.py
Due: autoflake, isort, black, flake8

pytlz: add date_to_str
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat: add date_to_str (#3)
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

import onekit as ok
  docs/source/example.ipynb
  src/onekit/pytlz.py
  tests/test_onekit.py
  tests/test_pytlz.py
Due: autoflake, isort, black, black-jupyter, flake8

refactor: import onekit as ok (#4)
  docs/source/example.ipynb
  src/onekit/pytlz.py
  tests/test_onekit.py
  tests/test_pytlz.py
Due: autoflake, isort, black, black-jupyter, flake8

0.3.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

build: add pyspark
  Makefile
  poetry.lock
  pyproject.toml
Due: check-toml

tests: set up Spark session
  docs/source/conf.py
  src/onekit/sparktlz.py
  tests/conftest.py
  tests/test_sparktlz.py
Due: autoflake, isort, black, flake8

feat: add sparktlz (#5)
  Makefile
  docs/source/conf.py
  poetry.lock
  pyproject.toml
  src/onekit/sparktlz.py
  tests/conftest.py
  tests/test_sparktlz.py
Due: autoflake, isort, black, flake8, check-toml

refactor: import pytlz directly
  src/onekit/__init__.py
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

docs: no import onekit as ok
  docs/source/example.ipynb
  tests/test_onekit.py
Due: autoflake, isort, black, black-jupyter, flake8

docs(README.md): rename example usage to examples
  README.md
Due: none

docs: add module description
  README.md
  src/onekit/pytlz.py
  src/onekit/sparktlz.py
Due: autoflake, isort, black, flake8

docs: import pytlz directly (#6)
  README.md
  docs/source/example.ipynb
  src/onekit/__init__.py
  src/onekit/pytlz.py
  src/onekit/sparktlz.py
  tests/test_onekit.py
  tests/test_pytlz.py
Due: autoflake, isort, black, black-jupyter, flake8

tests(date_to_str): correct test name
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add flatten
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(pytlz): add flatten (#7)
  src/onekit/pytlz.py
  tests/test_pytlz.py
Due: autoflake, isort, black, flake8

feat(sparktkz): add union
  src/onekit/sparktlz.py
  tests/test_sparktlz.py
Due: autoflake, isort, black, flake8

feat(sparktlz): add union (#8)
  src/onekit/sparktlz.py
  tests/test_sparktlz.py
Due: autoflake, isort, black, flake8

build: add pandas
  Makefile
  poetry.lock
  pyproject.toml
Due: check-toml

build: add pandas (#9)
  Makefile
  poetry.lock
  pyproject.toml
Due: check-toml

docs(example.ipynb): add pytlz.flatten and sparktlz.union
  docs/source/example.ipynb
Due: black-jupyter

style(sparktlz.union): rearrange docsting imports
  src/onekit/sparktlz.py
Due: autoflake, isort, black, flake8

docs(README.md): add example
  README.md
Due: none

docs: add example (#10)
  README.md
  docs/source/example.ipynb
  src/onekit/sparktlz.py
Due: autoflake, isort, black, black-jupyter, flake8

0.4.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

docs: update module docstring
  src/onekit/pytlz.py
  src/onekit/sparktlz.py
Due: autoflake, isort, black, flake8

refactor(Makefile): add missing phony
  Makefile
Due: none

docs(pytlz.flatten): update type hinting
  src/onekit/pytlz.py
Due: autoflake, isort, black, flake8

docs(sparktlz.union): update type hinting
  src/onekit/sparktlz.py
Due: autoflake, isort, black, flake8

refactor: rename SparkDataFrame -> SparkDF
  src/onekit/sparktlz.py
  tests/test_sparktlz.py
Due: autoflake, isort, black, flake8

Path conditions:
  autoflake: any of: \.py$
  isort: any of: \.py$
  black: any of: \.py$
  black-jupyter: any of: \.ipynb$
  flake8: any of: \.py$
  check-json: any of: \.json$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  requirements-txt-fixer: any of: requirements.*\.txt$
