Repository estripling/onekit: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, isort, black, black-jupyter, flake8, check-json, check-toml, check-yaml, requirements-txt-fixer

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: autoflake
        name: autoflake
        entry: autoflake
        description: remove unused imports and unused variables
        language: python
        types: [python]
        args: [
          --in-place,
          --ignore-init-module-imports,
          --remove-all-unused-imports,
          --recursive,
        ]

      - id: isort
        name: isort
        entry: isort
        description: sort imports
        language: python
        types: [python]
        args: [
          --filter-files,
          --remove-redundant-aliases,
        ]

      - id: black
        name: black
        entry: black
        description: format Python code
        language: python
        types: [python]

      - id: black-jupyter
        name: black-jupyter
        entry: black
        description: format Python code in notebooks
        language: python
        types: [jupyter]

      - id: flake8
        name: flake8
        entry: flake8
        description: tool for style guide enforcement
        language: python
        types: [python]

      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        description: check for files with names that would conflict on a case-insensitive filesystem
        language: python
        types: [text]

      - id: check-json
        name: check-json
        entry: check-json
        description: verify JSON syntax
        language: python
        types: [json]

      - id: check-toml
        name: check-toml
        entry: check-toml
        description: verify TOML syntax
        language: python
        types: [toml]

      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        description: verify YAML syntax
        language: python
        types: [yaml]

      - id: end-of-file-fixer
        name: end-of-file-fixer
        entry: end-of-file-fixer
        description: makes sure files end in a newline and only a newline
        language: python
        types: [text]

      - id: requirements-txt-fixer
        name: requirements-txt-fixer
        entry: requirements-txt-fixer
        description: sorts entries in requirements.txt
        language: python
        files: requirements.*\.txt$

      - id: trailing-whitespace-fixer
        name: trailing-whitespace-fixer
        entry: trailing-whitespace-fixer
        description: trim trailing whitespace
        language: python
        types: [text]

style(peek): remove docstring of inner function
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

test(str_to_col): no parametrize
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add cvf
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add cvf (#37)
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

0.10.0
  CHANGELOG.md
  pyproject.toml
Due: check-toml

docs: update license
  LICENSE
Due: none

build: update pyproject.toml
  pyproject.toml
Due: check-toml

docs: update README.md
  README.md
Due: none

docs: update author
  docs/source/conf.py
Due: autoflake, isort, black, flake8

docs: update onekit author and description (#38)
  LICENSE
  README.md
  docs/source/conf.py
  pyproject.toml
Due: autoflake, isort, black, flake8, check-toml

fix(README.md): disclaimer section
  README.md
Due: none

0.10.1
  CHANGELOG.md
  pyproject.toml
Due: check-toml

feat(pandaskit): add union
  docs/source/conf.py
  src/onekit/pandaskit.py
  tests/test_pandaskit.py
Due: autoflake, isort, black, flake8

feat(pandaskit): add join
  src/onekit/pandaskit.py
  tests/test_pandaskit.py
Due: autoflake, isort, black, flake8

test: refactor pandas test_union
  tests/test_pandaskit.py
Due: autoflake, isort, black, flake8

feat(pandaskit): add profile
  src/onekit/pandaskit.py
  tests/test_pandaskit.py
Due: autoflake, isort, black, flake8

feat: add pandaskit (#39)
  docs/source/conf.py
  src/onekit/pandaskit.py
  tests/test_pandaskit.py
Due: autoflake, isort, black, flake8

refactor: int values as n
  src/onekit/sparkkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

test: add type hints
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

refactor: rename num variables + type hints (#40)
  src/onekit/sparkkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add count_nulls
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add join
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add add_prefix
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

refactor(count_nulls): add asterisk in signature
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add add_suffix
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

refactor: curry functions
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add daterange
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

refactor(daycount): rename start to d0
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

refactor(daterange): rename parameters
  src/onekit/pythonkit.py
  tests/test_pythonkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add with_index
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

style(with_index): positional parameter
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

refactor: use spark transform func
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add with_weekday
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add with_endofweek_date
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

style(with_index): rephrase docstring header
  src/onekit/sparkkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add with_startofweek_date
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

refactor: use transform pattern
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

build(Makefile): add commands for running slow tests
  Makefile
Due: none

feat(sparkkit): add validation functions
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8

feat(sparkkit): add evaluation functions
  src/onekit/sparkkit.py
  tests/test_sparkkit.py
Due: autoflake, isort, black, flake8
